    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


.boss, .customer {
    width: 100px;
    height: 100px;
    color: blue;
    text-align: center;
}
.itens, .Cardápios {
    color: black;
    font-size: 1.5em;
    text-align: center;
    margin: 15px 20px 14px 3px;}

.titulo-Principal {
    color:#a10303;
    font-size: 2em; 
    text-align: justify;
}
.link {
    color: #a10303;
    text-align: center; 
}

.link1 {
    color: #808080;
    text-align: center;
    padding-left: 5em;
}


.body {
    background-color:#dac9c9;}
    font-family: 'Poppins', sans-serif;

.voltar {
    color: #808080;
  }


.item, .menu {
    width: 28px;
    height: 28px;
    margin-top: auto;
}  
.hamburgue {
    width: 240px;
    height: 190px;
}
.conteudo { 
    margin-bottom: 1em;

 }
 .conteudo-pagina-principal {
padding: 2em; 
 }